<!DOCTYPE html>
<html>

<head>
    <title>My Project</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>Project Page</h1>

    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/project">My Project</a>


    {{#each projects}}
    <div class="card">
        <h2>{{title}}</h2>
        <p>{{desciption}}</p>

        {{if isActive}}
        <span>Status: Active</span>
        {{else}}
        <span>Status: inActive</span>
        {{/if}}

    </div>
    {{/each}}

</body>

</html>